<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NombreConexionBD" connectionString="Data Source=ServidorVibe.mssql.somee.com;Initial Catalog=ServidorVibe;Persist Security Info=False;User ID=VibeFJ_SQLLogin_1;Password=vkr8sxiy33" providerName="" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>